# environments
.venv/
venv/

# cache
__pycache__/
*.pyc
*.pyo
*.pyd

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# notebooks checkpoints
.ipynb_checkpoints/

# Raw data
data/raw/*

# Ignore all processed files
data/processed/**
data/models/**
data/results/**

# Keep final predictions
!data/predictions/
!data/results/plots/

# Office temporary lock files
~$*.xlsx
~$*.xls
~$*.docx
~$*.doc