# environments
.venv/
venv/

# cache
__pycache__/
*.pyc
*.pyo
*.pyd

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# notebooks checkpoints
.ipynb_checkpoints/

# Raw data
data/raw/*

# Ignore all processed files
data/processed/**
data/models/**
# Ignore all results
data/results/**
# BUT allow plots folder
!data/results/plots/
!data/results/plots/**
# Keep final predictions
!data/predictions/
# Office temporary lock files
~$*.xlsx
~$*.xls
~$*.docx
~$*.doc